@keyframes wcs-spinner-grow {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes wcs-spinner-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wcs-spinner-dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -131;
    }
}

:host {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border-radius: 50%;
}

:host([mode="border"]) {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23E4E3E2FF' stroke-width='10' stroke-dasharray='3%2c3' stroke-dashoffset='2' stroke-linecap='butt'/%3e%3c/svg%3e");

    svg {
        animation: wcs-spinner-rotate 2s linear infinite;

        & circle {
            stroke: var(--wcs-base);
            stroke-width: 8px;
            stroke-linecap: round;
            animation: wcs-spinner-dash 1.5s ease-in-out infinite;
        }
    }
}

:host([mode=growing]) {
    background-color: var(--wcs-base);
    opacity: 0;
    animation: wcs-spinner-grow 1s ease-out infinite;
}
